<<<<<<< HEAD
body,
html,
* {
    font-size: 17;
    padding: 0.2%;
    margin: 1%;
}
=======

>>>>>>> 09278f661845074255460125a2114d8de1f5bea6

body{
    background-color: rgb(137, 197, 207);
    font-family: 'Kanit', sans-serif;    }
<<<<<<< HEAD
h1 {
    font-size: 10rem;
    text-align: center;
    color: white;
}
=======

>>>>>>> 09278f661845074255460125a2114d8de1f5bea6

.container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.card-title {
    font-size: 2.7rem;
    margin: 2rem 0;
    text-transform: uppercase;
    
}
.card {
    width: 18%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 4px solid rgb(0, 0, 0);
    border-radius: 0%;
    padding: 8px   ;
    box-shadow: 15px 15px 8px rgb(60, 91, 97);
}

<<<<<<< HEAD
=======
.card-price {
    color: rgb(0, 0, 0);
    font-size:  2.1rem;
}
.card-img {
    width: 84%;
}







>>>>>>> 09278f661845074255460125a2114d8de1f5bea6



